html {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    background-image:linear-gradient( to bottom,#238be0,#238be0,#fff,#fff);
}

img {
    height: 60px;
}