html {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( to bottom,#1067ad80,#238be0,#238be0,#fff,#fff);
    background-attachment: scroll;
    background-repeat: no-repeat;
}

img {
    height: 60px;
}
#nav-datas{
    margin-top: 7%;
}
#menu {
    color: #fff;
    background-color: #1067ad80;
    width: 100%;
}
.navbar .navbar-brand {
    text-align: center;
}
#offcanvasNavbar {
    background-image: linear-gradient( to bottom,#238be0,#238be0,#fff,#fff);
    text-align: center;
}
.offcanvas-title {
    margin: auto;
}
#menu-tranparente {
    background-color: rgba(16, 103, 173, 0.5);
}
#painel {
    border: medium solid black;
    margin-top: 7%;
    width: 1500px;
    height: 500px;
}
#painel h1 {
    margin-top: 200px;
    text-align: center;
}
#card-boas-vindas {
    margin-top: 15%;
    text-align: center;
    height: 100%;
}
#card-boas-vindas h6 {
    margin-top: 1%;
    margin-bottom: 5%;
}
#card-boas-vindas .professor {
    border: thin solid #0c497a;
    border-radius: 5px;
    padding: 8px 33px;
    text-decoration: none;
}
#card-boas-vindas .aluno {
    border: thin solid #0c497a;
    border-radius: 5px;
    padding: 8px 45px;
    text-decoration: none;
}
#button-professor-inicio {
    margin-left: -14%;
}
#button-aluno-inicio {
    margin-top: -1.8%;
    margin-left: 15%;
}